<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!--    连接池-->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://34.92.89.158:3306/carqxdb?characterEncoding=utf8&amp;serverTimezone=UTC&amp;useSSL=false"/>
        <property name="username" value="root"/>
        <property name="password" value="rootroot"/>
    </bean>

    <!--    工程类-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>

        <property name="hibernateProperties">
            <props>
                <!--配置sql语句显示-->
                <prop key="hibernate.show_sql">true</prop>
                <!--格式化sql语句显示-->
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/carqxdb?serverTimezone=GMT</prop>
                <prop key="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</prop>
            </props>
        </property>

        <property name="mappingResources">
            <list>
                <value>com/fiend/entity/Admin.hbm.xml</value>
                <value>com/fiend/entity/Appointment.hbm.xml</value>
                <value>com/fiend/entity/Company.hbm.xml</value>
                <value>com/fiend/entity/Instock.hbm.xml</value>
                <value>com/fiend/entity/Leaving.hbm.xml</value>
                <value>com/fiend/entity/News.hbm.xml</value>
                <value>com/fiend/entity/Outstock.hbm.xml</value>
                <value>com/fiend/entity/Post.hbm.xml</value>
                <value>com/fiend/entity/Recruit.hbm.xml</value>
                <value>com/fiend/entity/Repair.hbm.xml</value>
                <value>com/fiend/entity/Servicecar.hbm.xml</value>
                <value>com/fiend/entity/Servicesmall.hbm.xml</value>
                <value>com/fiend/entity/Staff.hbm.xml</value>
                <value>com/fiend/entity/Stock.hbm.xml</value>
                <value>com/fiend/entity/Storage.hbm.xml</value>
            </list>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.fiend.entity.Admin</value>
                <value>com.fiend.entity.Appointment</value>
                <value>com.fiend.entity.Company</value>
                <value>com.fiend.entity.Instock</value>
                <value>com.fiend.entity.Leaving</value>
                <value>com.fiend.entity.News</value>
                <value>com.fiend.entity.Outstock</value>
                <value>com.fiend.entity.Post</value>
                <value>com.fiend.entity.Recruit</value>
                <value>com.fiend.entity.Repair</value>
                <value>com.fiend.entity.Servicecar</value>
                <value>com.fiend.entity.Servicesmall</value>
                <value>com.fiend.entity.Staff</value>
                <value>com.fiend.entity.Stock</value>
                <value>com.fiend.entity.Storage</value>
            </list>
        </property>


    </bean>


    <!--    配置 增删改查 事务处理机制-->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--    配置传播特性 隔离基别-->
    <tx:advice id="ta" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*" propagation="REQUIRED" isolation="READ_COMMITTED"/>
            <tx:method name="update*" propagation="REQUIRED" isolation="READ_COMMITTED"/>
            <tx:method name="delete*" propagation="REQUIRED" isolation="READ_COMMITTED"/>
            <tx:method name="query*" propagation="SUPPORTS" isolation="DEFAULT" read-only="true"/>
        </tx:attributes>
    </tx:advice>

    <!--    引入到包中-->
    <aop:config>
        <!--        配置引入位置-->
        <aop:pointcut expression="execution(* com.fiend.dao.*.*(..))" id="pc"/>
        <aop:advisor advice-ref="ta" pointcut-ref="pc"/>
    </aop:config>

    <!-- ******************************** 程序中的类配置信息begin ******************************** -->

    <!--    ********Staff**********-->
    <!--    spring框架管理dao对象-->
    <bean id="staffDao" class="com.fiend.dao.impl.StaffDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--    spring框架管理Service对象-->
    <bean id="staffService" class="com.fiend.service.impl.StaffServiceImpl">
        <property name="staffDao" ref="staffDao"/>
    </bean>

    <!--    spring框架管理Action对象-->
    <bean id="staffAction" class="com.fiend.action.StaffAction">
        <property name="staffService" ref="staffService"/>
    </bean>

    <!--    ********Stock**********-->
    <!--    spring框架管理dao对象-->
    <bean id="stockDao" class="com.fiend.dao.impl.StockDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--    spring框架管理Service对象-->
    <bean id="stockService" class="com.fiend.service.impl.StockServiceImpl">
        <property name="stockDao" ref="stockDao"/>
    </bean>

    <!--    spring框架管理Action对象-->
    <bean id="stockAction" class="com.fiend.action.StockAction">
        <property name="stockService" ref="stockService"/>
    </bean>


    <!--    ********ServiceSmall**********-->
    <!--    spring框架管理dao对象-->
    <bean id="serviceSmallDao" class="com.fiend.dao.impl.ServiceSmallDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--    spring框架管理Service对象-->
    <bean id="serviceSmallService" class="com.fiend.service.impl.ServiceSmallServiceImpl">
        <property name="serviceSmallDao" ref="serviceSmallDao"/>
    </bean>

    <!--    spring框架管理Action对象-->
    <bean id="serviceSmallAction" class="com.fiend.action.ServiceSmallAction">
        <property name="serviceSmallService" ref="serviceSmallService"/>
    </bean>


    <!--    ********ServiceCar**********-->
    <!--    spring框架管理dao对象-->
    <bean id="serviceCarDao" class="com.fiend.dao.impl.ServiceCarDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--    spring框架管理Service对象-->
    <bean id="serviceCarService" class="com.fiend.service.impl.ServiceCarServiceImpl">
        <property name="serviceCarDao" ref="serviceCarDao"/>
    </bean>

    <!--    spring框架管理Action对象-->
    <bean id="serviceCarAction" class="com.fiend.action.ServiceCarAction">
        <property name="serviceCarService" ref="serviceCarService"/>
    </bean>


    <!-- ********Appointment**********-->
    <!-- spring框架管理dao对象-->
    <bean class="com.fiend.dao.impl.AppointmentDaoImpl" id="appointmentDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- spring框架管理Service对象-->
    <bean class="com.fiend.service.impl.AppointmentServiceImpl" id="appointmentService">
        <property name="appointmentDao" ref="appointmentDao"/>
    </bean>

    <!-- spring框架管理Action对象-->
    <bean class="com.fiend.action.AppointmentAction" id="appointmentAction">
        <property name="appointmentService" ref="appointmentService"/>
    </bean>



    <!-- ********News**********-->
    <!-- spring框架管理dao对象-->
    <bean class="com.fiend.dao.impl.NewsDaoImpl" id="newsDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- spring框架管理Service对象-->
    <bean class="com.fiend.service.impl.NewsServiceImpl" id="newsService">
        <property name="newsDao" ref="newsDao"/>
    </bean>

    <!-- spring框架管理Action对象-->
    <bean class="com.fiend.action.NewsAction" id="newsAction">
        <property name="newsService" ref="newsService"/>
    </bean>




    <!-- ********Company**********-->
    <!-- spring框架管理dao对象-->
    <bean class="com.fiend.dao.impl.CompanyDaoImpl" id="companyDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- spring框架管理Service对象-->
    <bean class="com.fiend.service.impl.CompanyServiceImpl" id="companyService">
        <property name="companyDao" ref="companyDao"/>
    </bean>

    <!-- spring框架管理Action对象-->
    <bean class="com.fiend.action.CompanyAction" id="companyAction">
        <property name="companyService" ref="companyService"/>
    </bean>


    <!-- ********Repair**********-->
    <!-- spring框架管理dao对象-->
    <bean class="com.fiend.dao.impl.RepairDaoImpl" id="repairDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- spring框架管理Service对象-->
    <bean class="com.fiend.service.impl.RepairServiceImpl" id="repairService">
        <property name="repairDao" ref="repairDao"/>
    </bean>

    <!-- spring框架管理Action对象-->
    <bean class="com.fiend.action.RepairAction" id="repairAction">
        <property name="repairService" ref="repairService"/>
    </bean>

    <!-- ********Post**********-->
    <!--配置Post-->
    <bean id="postDao" class="com.fiend.dao.impl.PostDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--配置Post service-->
    <bean id="postService" class="com.fiend.service.impl.PostServiceImpl">
        <property name="postDao" ref="postDao"/>
    </bean>
    <!--配置Post Action -->
    <bean id="postAction" class="com.fiend.action.PostAction">
        <property name="postService" ref="postService"/>
    </bean>


    <!-- ********Recruit**********-->
    <!--配置Recruit-->
    <bean id="recruitDao" class="com.fiend.dao.impl.RecruitDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--配置Recruit service-->
    <bean id="recruitService" class="com.fiend.service.impl.RecruitServiceImpl">
        <property name="recruitDao" ref="recruitDao"/>
    </bean>
    <!--配置Recruit Action -->
    <bean id="recruitAction" class="com.fiend.action.RecruitAction">
        <property name="recruitService" ref="recruitService"/>
    </bean>

    <!-- ********Leaving**********-->
    <bean id="leavingDao" class="com.fiend.dao.impl.LeavingDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="leavingService" class="com.fiend.service.impl.LeavingServiceImpl">
        <property name="leavingDao" ref="leavingDao"/>
    </bean>
    <bean id="leavingAction" class="com.fiend.action.LeavingAction">
        <property name="leavingService" ref="leavingService"/>
    </bean>

    <!-- ********storage**********-->
    <bean id="storageDao" class="com.fiend.dao.impl.StorageDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="storageService" class="com.fiend.service.impl.StorageServiceImpl">
        <property name="storageDao" ref="storageDao"/>
    </bean>
    <bean id="storageAction" class="com.fiend.action.StorageAction">
        <property name="storageService" ref="storageService"/>
    </bean>

    <!--    **********************************前后端分隔**********************************-->

    <!--    ********Index**********-->
    <!--    spring框架管理dao对象-->
    <bean id="indexDao" class="com.fiend.dao.impl.IndexDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--    spring框架管理Service对象-->
    <bean id="indexService" class="com.fiend.service.impl.IndexServiceImpl">
        <property name="indexDao" ref="indexDao"/>
    </bean>

    <!--    spring框架管理Action对象-->
    <bean id="indexAction" class="com.fiend.action_font.IndexAction">
        <property name="indexService" ref="indexService"/>
    </bean>


    <!--    ********Abou**********-->
    <!--    spring框架管理dao对象-->
    <bean id="abouDao" class="com.fiend.dao.impl.AbouDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--    spring框架管理Service对象-->
    <bean id="abouService" class="com.fiend.service.impl.AbouServiceImpl">
        <property name="abouDao" ref="abouDao"/>
    </bean>

    <!--    spring框架管理Action对象-->
    <bean id="abouAction" class="com.fiend.action_font.AbouAction">
        <property name="abouService" ref="abouService"/>
    </bean>


    <!--    ********product**********-->
    <!--    spring框架管理dao对象-->
    <bean id="productDao" class="com.fiend.dao.impl.ProductDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--    spring框架管理Service对象-->
    <bean id="productService" class="com.fiend.service.impl.ProductServiceImpl">
        <property name="productDao" ref="productDao"/>
    </bean>

    <!--    spring框架管理Action对象-->
    <bean id="productAction" class="com.fiend.action_font.ProductAction">
        <property name="productService" ref="productService"/>
    </bean>


    <!--    ********cases**********-->
    <!--    spring框架管理dao对象-->
    <bean id="casesDao" class="com.fiend.dao.impl.CasesDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--    spring框架管理Service对象-->
    <bean id="casesService" class="com.fiend.service.impl.CasesServiceImpl">
        <property name="casesDao" ref="casesDao"/>
    </bean>

    <!--    spring框架管理Action对象-->
    <bean id="casesAction" class="com.fiend.action_font.CasesAction">
        <property name="casesService" ref="casesService"/>
    </bean>

    <!--    ********JoinUs**********-->
    <!--    spring框架管理dao对象-->
    <bean id="joinUsDao" class="com.fiend.dao.impl.JoinUsDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--    spring框架管理Service对象-->
    <bean id="joinUsService" class="com.fiend.service.impl.JoinUsServiceImpl">
        <property name="joinUsDao" ref="joinUsDao"/>
    </bean>

    <!--    spring框架管理Action对象-->
    <bean id="joinUsAction" class="com.fiend.action_font.JoinUsAction">
        <property name="joinUsService" ref="joinUsService"/>
    </bean>


    <!--    ********booking**********-->
    <!--    spring框架管理dao对象-->
    <bean id="bookingDao" class="com.fiend.dao.impl.BookingDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--    spring框架管理Service对象-->
    <bean id="bookingService" class="com.fiend.service.impl.BookingServiceImpl">
        <property name="bookingDao" ref="bookingDao"/>
    </bean>

    <!--    spring框架管理Action对象-->
    <bean id="bookingAction" class="com.fiend.action_font.BookingAction">
        <property name="bookingService" ref="bookingService"/>
    </bean>


    <!--    ********contact**********-->
    <!--    spring框架管理dao对象-->
    <bean id="contactDao" class="com.fiend.dao.impl.ContactDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--    spring框架管理Service对象-->
    <bean id="contactService" class="com.fiend.service.impl.ContactServiceImpl">
        <property name="contactDao" ref="contactDao"/>
    </bean>

    <!--    spring框架管理Action对象-->
    <bean id="contactAction" class="com.fiend.action_font.ContactAction">
        <property name="contactService" ref="contactService"/>
    </bean>

    <!--    ********newsFont**********-->
    <!--    spring框架管理dao对象-->
    <bean id="newsFontDao" class="com.fiend.dao.impl.NewsFontDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--    spring框架管理Service对象-->
    <bean id="newsFontService" class="com.fiend.service.impl.NewsFontServiceImpl">
        <property name="newsFontDao" ref="newsFontDao"/>
    </bean>

    <!--    spring框架管理Action对象-->
    <bean id="newsFontAction" class="com.fiend.action_font.NewsAction">
        <property name="newsFontService" ref="newsFontService"/>
    </bean>


    <!-- ******************************** 程序中的类配置信息end ******************************** -->

    <!--    &lt;!&ndash;    <tx:annotation-driven transaction-manager="transactionManager" />&ndash;&gt;-->

</beans>